<h1 class="mat-headline">
    <a routerLink="..">{{ inOrOut | inOut: true }}</a> &#8250; Storage Location
</h1>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card>
<div *ngFor="let entry of entries">
    <span>{{ entry.quantity }}K of chemical {{ entry.type | type }}</span>
    <span class="fill-remaining-space"></span>
    <span class="mat-body-2"> {{ entry.inOut | inOut: false }} </span>
    <span class="fill-remaining-space"></span>
    <span>Warehouse {{ entry.warehouse }}</span>
</div>
<button mat-raised-button color="primary" (click)="addPending()">Generate ticket</button>
</mat-card>
